html {
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  color: #0002f0;
  width: 100%;
  background-color: rgb(249, 244, 241);
}

body {
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0px;
  height: 5vh;
}

header,
footer {
  background-color: #f9dafd;
  width: 100%;
  padding: 2rem;
}

footer {
  height: 7.5vh;
  position: absolute;
  width: 100%;
}

navbar,
#footer-text {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2rem;
  max-width: 90%;
}

navbar a:active,
#footer-text a:active {
  color: black;
}

a {
  text-decoration: none;
}

#welcome-section {
  padding: 6rem 1rem;
  height: 100vh;
}

#welcome-section h1 {
  font-size: 4rem;
}

#welcome-section p {
  font-size: 3rem;
}

.projects-description {
  padding-top: 7.5vh;
}

.videos {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: space-evenly;
  align-items: stretch;
}

.videos div,
.videos youtube {
  max-width: 40vw;
}

.projects-description h1 {
  font-size: 2.5rem;
}

.projects-description p {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.projects-description h1,
.projects-description p {
  padding: 0rem 1rem;
}

.video-description {
  color: #767684;
}

iframe {
  border: none;
}

/* mobile only */
@media screen and (max-width: 1280px) {
  html {
    font-size: 14px;
  }
  .videos div {
    min-width: 80vw;
    max-width: 80vw;
  }

  #projects p {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  #projects h3 {
    font-size: 2rem;
  }

  iframe {
    min-width: 80vw;
    max-width: 80vw;
    min-height: 80vw;
    max-height: 80vw;
  }

  navbar,
  #footer-text {
    gap: 1.5rem;
    max-width: 90vw;
  }
  #welcome-section {
    margin-bottom: 100px;
  }
}

/* desktop only */
@media screen and (min-width: 1280px) {
  html {
    font-size: 18px;
    padding: 20px 0;
  }

  .videos div {
    max-width: 30vw;
  }

  iframe {
    max-height: 30vw;
    max-width: 30vw;
  }

  navbar,
  #footer-text {
    gap: 3rem;
  }
}
